 - Batting Team
 - Bowling Team
 - Score
 - Overs Completed
 - Wickets out
 - Run in last 5 over
 - Venue

In [80]:
import pandas as pd
import pickle
import numpy as np

In [81]:
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [82]:
matches.head()

,innings,info.city,info.outcome.winner,info.player_of_match,info.teams,info.venue,match_id
0,[{'1st innings': {'team': 'Sunrisers Hyderabad...,Hyderabad,Sunrisers Hyderabad,[Yuvraj Singh],"[Sunrisers Hyderabad, Royal Challengers Bangal...","Rajiv Gandhi International Stadium, Uppal",1
0,"[{'1st innings': {'team': 'Mumbai Indians', 'd...",Pune,Rising Pune Supergiant,[SPD Smith],"[Rising Pune Supergiant, Mumbai Indians]",Maharashtra Cricket Association Stadium,2
0,"[{'1st innings': {'team': 'Gujarat Lions', 'de...",Rajkot,Kolkata Knight Riders,[CA Lynn],"[Gujarat Lions, Kolkata Knight Riders]",Saurashtra Cricket Association Stadium,3
0,[{'1st innings': {'team': 'Rising Pune Supergi...,Indore,Kings XI Punjab,[GJ Maxwell],"[Kings XI Punjab, Rising Pune Supergiant]",Holkar Cricket Stadium,4
0,[{'1st innings': {'team': 'Royal Challengers B...,Bengaluru,Royal Challengers Bangalore,[KM Jadhav],"[Royal Challengers Bangalore, Delhi Daredevils]",M.Chinnaswamy Stadium,5

In [4]:
#team(matches['innings'])

In [86]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    non_striker=[]
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    winner=[]
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            non_striker.append(ball[key]['non_striker'])
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            winner.append(row['info.outcome.winner'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'non_striker':non_striker,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue,
            'winner':winner
        })
    delivery_df = delivery_df.append(loop_df)

In [87]:
delivery_df.head()

,match_id,teams,batting_team,ball,batsman,non_striker,bowler,runs,player_dismissed,city,venue,winner
0,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
1,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
2,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
3,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad
4,2,"[Sunrisers Hyderabad, Royal Challengers Bangal...",Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,0,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad

In [88]:
def bowl(row):
    for i in row['teams']:
        if i != row['batting_team']:
            return i

In [89]:
delivery_df['bowling_team']=delivery_df.apply(bowl,axis=1)

In [90]:
delivery_df.isnull().sum()

match_id               0
teams                  0
batting_team           0
ball                   0
batsman                0
non_striker            0
bowler                 0
runs                   0
player_dismissed       0
city                6343
venue                  0
winner              1957
bowling_team           0
dtype: int64

In [91]:
#delivery_df['city'] = delivery_df.fillna(delivery_df.loc[delivery_df['city'].isna()]['venue'])

In [92]:
delivery_df.loc[delivery_df['city'].isna()]['venue'].unique()

array(['Dubai International Cricket Stadium', 'Sharjah Cricket Stadium'],
      dtype=object)

In [93]:
temp_2 = delivery_df.loc[delivery_df['city'].isna()]['venue'].str.split(" ",expand=True)[0]
temp_2 = pd.Series(temp_2)

In [94]:
cities = np.where(delivery_df['city'].isnull(),delivery_df['venue'].str.split(" ",expand=True)[0],delivery_df['city'])
delivery_df['city'] = cities

In [95]:
delivery_df.isnull().sum()

match_id               0
teams                  0
batting_team           0
ball                   0
batsman                0
non_striker            0
bowler                 0
runs                   0
player_dismissed       0
city                   0
venue                  0
winner              1957
bowling_team           0
dtype: int64

In [96]:
delivery_df.drop(columns=['teams','venue'],inplace=True)

In [97]:
delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['runs']

In [98]:
delivery_df.head(50)

,match_id,batting_team,ball,batsman,non_striker,bowler,runs,player_dismissed,city,winner,bowling_team,current_score
0,2,Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0
1,2,Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0
2,2,Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4
3,2,Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4
4,2,Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6
5,2,Sunrisers Hyderabad,0.6,S Dhawan,DA Warner,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6
6,2,Sunrisers Hyderabad,0.7,S Dhawan,DA Warner,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7
7,2,Sunrisers Hyderabad,1.1,S Dhawan,DA Warner,A Choudhary,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8
8,2,Sunrisers Hyderabad,1.2,DA Warner,S Dhawan,A Choudhary,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12
9,2,Sunrisers Hyderabad,1.3,DA Warner,S Dhawan,A Choudhary,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13
10,2,Sunrisers Hyderabad,1.4,DA Warner,S Dhawan,A Choudhary,6,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
11,2,Sunrisers Hyderabad,1.5,DA Warner,S Dhawan,A Choudhary,0,DA Warner,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
12,2,Sunrisers Hyderabad,1.6,MC Henriques,S Dhawan,A Choudhary,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
13,2,Sunrisers Hyderabad,1.7,MC Henriques,S Dhawan,A Choudhary,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,23
14,2,Sunrisers Hyderabad,2.1,S Dhawan,MC Henriques,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24
15,2,Sunrisers Hyderabad,2.2,MC Henriques,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24
16,2,Sunrisers Hyderabad,2.3,MC Henriques,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24
17,2,Sunrisers Hyderabad,2.4,MC Henriques,S Dhawan,TS Mills,3,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,27
18,2,Sunrisers Hyderabad,2.5,S Dhawan,MC Henriques,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,28
19,2,Sunrisers Hyderabad,2.6,MC Henriques,S Dhawan,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29
20,2,Sunrisers Hyderabad,3.1,MC Henriques,S Dhawan,YS Chahal,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29
21,2,Sunrisers Hyderabad,3.2,MC Henriques,S Dhawan,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30
22,2,Sunrisers Hyderabad,3.3,S Dhawan,MC Henriques,YS Chahal,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30
23,2,Sunrisers Hyderabad,3.4,S Dhawan,MC Henriques,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,31
24,2,Sunrisers Hyderabad,3.5,MC Henriques,S Dhawan,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,32
25,2,Sunrisers Hyderabad,3.6,S Dhawan,MC Henriques,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,33
26,2,Sunrisers Hyderabad,4.1,S Dhawan,MC Henriques,S Aravind,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,34
27,2,Sunrisers Hyderabad,4.2,MC Henriques,S Dhawan,S Aravind,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,35
28,2,Sunrisers Hyderabad,4.3,S Dhawan,MC Henriques,S Aravind,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,36
29,2,Sunrisers Hyderabad,4.4,MC Henriques,S Dhawan,S Aravind,2,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,38
30,2,Sunrisers Hyderabad,4.5,MC Henriques,S Dhawan,S Aravind,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42
31,2,Sunrisers Hyderabad,4.6,MC Henriques,S Dhawan,S Aravind,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42
32,2,Sunrisers Hyderabad,5.1,S Dhawan,MC Henriques,SR Watson,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,46
33,2,Sunrisers Hyderabad,5.2,S Dhawan,MC Henriques,SR Watson,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50
34,2,Sunrisers Hyderabad,5.3,S Dhawan,MC Henriques,SR Watson,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50
35,2,Sunrisers Hyderabad,5.4,S Dhawan,MC Henriques,SR Watson,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,54
36,2,Sunrisers Hyderabad,5.5,S Dhawan,MC Henriques,SR Watson,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,58
37,2,Sunrisers Hyderabad,5.6,S Dhawan,MC Henriques,SR Watson,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,59
38,2,Sunrisers Hyderabad,6.1,S Dhawan,MC Henriques,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60
39,2,Sunrisers Hyderabad,6.2,MC Henriques,S Dhawan,YS Chahal,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60
40,2,Sunrisers Hyderabad,6.3,MC Henriques,S Dhawan,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,61
41,2,Sunrisers Hyderabad,6.4,S Dhawan,MC Henriques,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,62
42,2,Sunrisers Hyderabad,6.5,MC Henriques,S Dhawan,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,63
43,2,Sunrisers Hyderabad,6.6,S Dhawan,MC Henriques,YS Chahal,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,64
44,2,Sunrisers Hyderabad,7.1,S Dhawan,MC Henriques,TM Head,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,65
45,2,Sunrisers Hyderabad,7.2,MC Henriques,S Dhawan,TM Head,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,66
46,2,Sunrisers Hyderabad,7.3,S Dhawan,MC Henriques,TM Head,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,67
47,2,Sunrisers Hyderabad,7.4,MC Henriques,S Dhawan,TM Head,6,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,73
48,2,Sunrisers Hyderabad,7.5,MC Henriques,S Dhawan,TM Head,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,74
49,2,Sunrisers Hyderabad,7.6,S Dhawan,MC Henriques,TM Head,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,75

In [99]:
for i in delivery_df['player_dismissed']:
    if i!='0':
        delivery_df['player_dismissed'] = delivery_df['player_dismissed'].replace(i,1)

In [100]:
delivery_df.head(15)

,match_id,batting_team,ball,batsman,non_striker,bowler,runs,player_dismissed,city,winner,bowling_team,current_score
0,2,Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0
1,2,Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0
2,2,Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4
3,2,Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4
4,2,Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6
5,2,Sunrisers Hyderabad,0.6,S Dhawan,DA Warner,TS Mills,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6
6,2,Sunrisers Hyderabad,0.7,S Dhawan,DA Warner,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7
7,2,Sunrisers Hyderabad,1.1,S Dhawan,DA Warner,A Choudhary,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8
8,2,Sunrisers Hyderabad,1.2,DA Warner,S Dhawan,A Choudhary,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12
9,2,Sunrisers Hyderabad,1.3,DA Warner,S Dhawan,A Choudhary,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13
10,2,Sunrisers Hyderabad,1.4,DA Warner,S Dhawan,A Choudhary,6,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
11,2,Sunrisers Hyderabad,1.5,DA Warner,S Dhawan,A Choudhary,0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
12,2,Sunrisers Hyderabad,1.6,MC Henriques,S Dhawan,A Choudhary,0,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19
13,2,Sunrisers Hyderabad,1.7,MC Henriques,S Dhawan,A Choudhary,4,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,23
14,2,Sunrisers Hyderabad,2.1,S Dhawan,MC Henriques,TS Mills,1,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24

In [101]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99036 entries, 0 to 125
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          99036 non-null  int64
 1   batting_team      99036 non-null  object
 2   ball              99036 non-null  float64
 3   batsman           99036 non-null  object
 4   non_striker       99036 non-null  object
 5   bowler            99036 non-null  object
 6   runs              99036 non-null  int64
 7   player_dismissed  99036 non-null  object
 8   city              99036 non-null  object
 9   winner            97079 non-null  object
 10  bowling_team      99036 non-null  object
 11  current_score     99036 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 9.8+ MB

In [102]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

In [103]:
delivery_df['player_dismissed'] = delivery_df.groupby('match_id').cumsum()['player_dismissed']

In [104]:
delivery_df['wickets_left'] = 10 - delivery_df['player_dismissed']

In [105]:
delivery_df.drop(columns='player_dismissed',inplace=True)

In [106]:
delivery_df.head(30)

,match_id,batting_team,ball,batsman,non_striker,bowler,runs,city,winner,bowling_team,current_score,wickets_left
0,2,Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10
1,2,Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10
2,2,Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10
3,2,Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10
4,2,Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10
5,2,Sunrisers Hyderabad,0.6,S Dhawan,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10
6,2,Sunrisers Hyderabad,0.7,S Dhawan,DA Warner,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7,10
7,2,Sunrisers Hyderabad,1.1,S Dhawan,DA Warner,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8,10
8,2,Sunrisers Hyderabad,1.2,DA Warner,S Dhawan,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12,10
9,2,Sunrisers Hyderabad,1.3,DA Warner,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13,10
10,2,Sunrisers Hyderabad,1.4,DA Warner,S Dhawan,A Choudhary,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,10
11,2,Sunrisers Hyderabad,1.5,DA Warner,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9
12,2,Sunrisers Hyderabad,1.6,MC Henriques,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9
13,2,Sunrisers Hyderabad,1.7,MC Henriques,S Dhawan,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,23,9
14,2,Sunrisers Hyderabad,2.1,S Dhawan,MC Henriques,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9
15,2,Sunrisers Hyderabad,2.2,MC Henriques,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9
16,2,Sunrisers Hyderabad,2.3,MC Henriques,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9
17,2,Sunrisers Hyderabad,2.4,MC Henriques,S Dhawan,TS Mills,3,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,27,9
18,2,Sunrisers Hyderabad,2.5,S Dhawan,MC Henriques,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,28,9
19,2,Sunrisers Hyderabad,2.6,MC Henriques,S Dhawan,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9
20,2,Sunrisers Hyderabad,3.1,MC Henriques,S Dhawan,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9
21,2,Sunrisers Hyderabad,3.2,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9
22,2,Sunrisers Hyderabad,3.3,S Dhawan,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9
23,2,Sunrisers Hyderabad,3.4,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,31,9
24,2,Sunrisers Hyderabad,3.5,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,32,9
25,2,Sunrisers Hyderabad,3.6,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,33,9
26,2,Sunrisers Hyderabad,4.1,S Dhawan,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,34,9
27,2,Sunrisers Hyderabad,4.2,MC Henriques,S Dhawan,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,35,9
28,2,Sunrisers Hyderabad,4.3,S Dhawan,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,36,9
29,2,Sunrisers Hyderabad,4.4,MC Henriques,S Dhawan,S Aravind,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,38,9

In [107]:
over = []
ball_no = []
for i in delivery_df['ball']:
    temp_3 = str(i).split(".")[0]
    temp_4 = str(i).split(".")[1]
    ball_no.append(temp_4)
    over.append(temp_3)
delivery_df['over']= over
delivery_df['ball_no'] = ball_no
delivery_df['balls_bowled'] = (delivery_df['over'].astype('int')*6) + (delivery_df['ball_no'].astype('int'))
delivery_df['balls_left'] = 120-delivery_df['balls_bowled']
delivery_df['balls_left'].apply(lambda x:0 if x<0 else x)
#[0 if delivery_df['balls_left']<0 else 1]

0      119
1      118
2      117
3      116
4      115
      ...
121      4
122      3
123      2
124      1
125      0
Name: balls_left, Length: 99036, dtype: int64

In [108]:
delivery_df.head(10)

,match_id,batting_team,ball,batsman,non_striker,bowler,runs,city,winner,bowling_team,current_score,wickets_left,over,ball_no,balls_bowled,balls_left
0,2,Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,1,1,119
1,2,Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,2,2,118
2,2,Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,3,3,117
3,2,Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,4,4,116
4,2,Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,5,5,115
5,2,Sunrisers Hyderabad,0.6,S Dhawan,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,6,6,114
6,2,Sunrisers Hyderabad,0.7,S Dhawan,DA Warner,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7,10,0,7,7,113
7,2,Sunrisers Hyderabad,1.1,S Dhawan,DA Warner,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8,10,1,1,7,113
8,2,Sunrisers Hyderabad,1.2,DA Warner,S Dhawan,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12,10,1,2,8,112
9,2,Sunrisers Hyderabad,1.3,DA Warner,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13,10,1,3,9,111

In [109]:
delivery_df['over'].value_counts()

0     5066
1     5065
2     5011
3     5006
4     5002
5     4997
6     4980
7     4956
9     4949
8     4947
14    4936
17    4932
16    4927
12    4921
15    4918
11    4915
10    4915
13    4904
18    4899
19    4790
Name: over, dtype: int64

In [110]:
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 300)

In [111]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99036 entries, 0 to 125
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       99036 non-null  int64
 1   batting_team   99036 non-null  object
 2   ball           99036 non-null  float64
 3   batsman        99036 non-null  object
 4   non_striker    99036 non-null  object
 5   bowler         99036 non-null  object
 6   runs           99036 non-null  int64
 7   city           99036 non-null  object
 8   winner         97079 non-null  object
 9   bowling_team   99036 non-null  object
 10  current_score  99036 non-null  int64
 11  wickets_left   99036 non-null  int32
 12  over           99036 non-null  object
 13  ball_no        99036 non-null  object
 14  balls_bowled   99036 non-null  int32
 15  balls_left     99036 non-null  int32
dtypes: float64(1), int32(3), int64(3), object(9)
memory usage: 11.7+ MB

In [112]:
delivery_df['over'] = delivery_df['over'].astype('int')
delivery_df['ball_no'] = delivery_df['ball_no'].astype('int')

In [113]:
delivery_df.head(50)

,match_id,batting_team,ball,batsman,non_striker,bowler,runs,city,winner,bowling_team,current_score,wickets_left,over,ball_no,balls_bowled,balls_left
0,2,Sunrisers Hyderabad,0.1,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,1,1,119
1,2,Sunrisers Hyderabad,0.2,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,2,2,118
2,2,Sunrisers Hyderabad,0.3,DA Warner,S Dhawan,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,3,3,117
3,2,Sunrisers Hyderabad,0.4,DA Warner,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,4,4,116
4,2,Sunrisers Hyderabad,0.5,DA Warner,S Dhawan,TS Mills,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,5,5,115
5,2,Sunrisers Hyderabad,0.6,S Dhawan,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,6,6,114
6,2,Sunrisers Hyderabad,0.7,S Dhawan,DA Warner,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7,10,0,7,7,113
7,2,Sunrisers Hyderabad,1.1,S Dhawan,DA Warner,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8,10,1,1,7,113
8,2,Sunrisers Hyderabad,1.2,DA Warner,S Dhawan,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12,10,1,2,8,112
9,2,Sunrisers Hyderabad,1.3,DA Warner,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13,10,1,3,9,111
10,2,Sunrisers Hyderabad,1.4,DA Warner,S Dhawan,A Choudhary,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,10,1,4,10,110
11,2,Sunrisers Hyderabad,1.5,DA Warner,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9,1,5,11,109
12,2,Sunrisers Hyderabad,1.6,MC Henriques,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9,1,6,12,108
13,2,Sunrisers Hyderabad,1.7,MC Henriques,S Dhawan,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,23,9,1,7,13,107
14,2,Sunrisers Hyderabad,2.1,S Dhawan,MC Henriques,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,1,13,107
15,2,Sunrisers Hyderabad,2.2,MC Henriques,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,2,14,106
16,2,Sunrisers Hyderabad,2.3,MC Henriques,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,3,15,105
17,2,Sunrisers Hyderabad,2.4,MC Henriques,S Dhawan,TS Mills,3,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,27,9,2,4,16,104
18,2,Sunrisers Hyderabad,2.5,S Dhawan,MC Henriques,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,28,9,2,5,17,103
19,2,Sunrisers Hyderabad,2.6,MC Henriques,S Dhawan,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9,2,6,18,102
20,2,Sunrisers Hyderabad,3.1,MC Henriques,S Dhawan,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9,3,1,19,101
21,2,Sunrisers Hyderabad,3.2,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9,3,2,20,100
22,2,Sunrisers Hyderabad,3.3,S Dhawan,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9,3,3,21,99
23,2,Sunrisers Hyderabad,3.4,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,31,9,3,4,22,98
24,2,Sunrisers Hyderabad,3.5,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,32,9,3,5,23,97
25,2,Sunrisers Hyderabad,3.6,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,33,9,3,6,24,96
26,2,Sunrisers Hyderabad,4.1,S Dhawan,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,34,9,4,1,25,95
27,2,Sunrisers Hyderabad,4.2,MC Henriques,S Dhawan,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,35,9,4,2,26,94
28,2,Sunrisers Hyderabad,4.3,S Dhawan,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,36,9,4,3,27,93
29,2,Sunrisers Hyderabad,4.4,MC Henriques,S Dhawan,S Aravind,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,38,9,4,4,28,92
30,2,Sunrisers Hyderabad,4.5,MC Henriques,S Dhawan,S Aravind,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42,9,4,5,29,91
31,2,Sunrisers Hyderabad,4.6,MC Henriques,S Dhawan,S Aravind,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42,9,4,6,30,90
32,2,Sunrisers Hyderabad,5.1,S Dhawan,MC Henriques,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,46,9,5,1,31,89
33,2,Sunrisers Hyderabad,5.2,S Dhawan,MC Henriques,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50,9,5,2,32,88
34,2,Sunrisers Hyderabad,5.3,S Dhawan,MC Henriques,SR Watson,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50,9,5,3,33,87
35,2,Sunrisers Hyderabad,5.4,S Dhawan,MC Henriques,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,54,9,5,4,34,86
36,2,Sunrisers Hyderabad,5.5,S Dhawan,MC Henriques,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,58,9,5,5,35,85
37,2,Sunrisers Hyderabad,5.6,S Dhawan,MC Henriques,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,59,9,5,6,36,84
38,2,Sunrisers Hyderabad,6.1,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60,9,6,1,37,83
39,2,Sunrisers Hyderabad,6.2,MC Henriques,S Dhawan,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60,9,6,2,38,82
40,2,Sunrisers Hyderabad,6.3,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,61,9,6,3,39,81
41,2,Sunrisers Hyderabad,6.4,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,62,9,6,4,40,80
42,2,Sunrisers Hyderabad,6.5,MC Henriques,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,63,9,6,5,41,79
43,2,Sunrisers Hyderabad,6.6,S Dhawan,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,64,9,6,6,42,78
44,2,Sunrisers Hyderabad,7.1,S Dhawan,MC Henriques,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,65,9,7,1,43,77
45,2,Sunrisers Hyderabad,7.2,MC Henriques,S Dhawan,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,66,9,7,2,44,76
46,2,Sunrisers Hyderabad,7.3,S Dhawan,MC Henriques,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,67,9,7,3,45,75
47,2,Sunrisers Hyderabad,7.4,MC Henriques,S Dhawan,TM Head,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,73,9,7,4,46,74
48,2,Sunrisers Hyderabad,7.5,MC Henriques,S Dhawan,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,74,9,7,5,47,73
49,2,Sunrisers Hyderabad,7.6,S Dhawan,MC Henriques,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,75,9,7,6,48,72

In [114]:
teams = ['Sunrisers Hyderabad', 'Mumbai Indians','Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Rajasthan Royals', 'Chennai Super Kings', 'Delhi Capitals',]

In [115]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [116]:
delivery_df.shape

(76438, 16)

In [117]:
final_df = delivery_df.groupby('match_id').sum()['runs'].reset_index().merge(delivery_df,on='match_id')
final_df.drop(columns='non_striker',inplace=True)

In [118]:
final_df

,match_id,runs_x,batting_team,ball,batsman,bowler,runs_y,city,winner,bowling_team,current_score,wickets_left,over,ball_no,balls_bowled,balls_left
0,2,207,Sunrisers Hyderabad,0.1,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,1,1,119
1,2,207,Sunrisers Hyderabad,0.2,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,2,2,118
2,2,207,Sunrisers Hyderabad,0.3,DA Warner,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,3,3,117
3,2,207,Sunrisers Hyderabad,0.4,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,4,4,116
4,2,207,Sunrisers Hyderabad,0.5,DA Warner,TS Mills,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76433,817,208,Sunrisers Hyderabad,19.2,BCJ Cutting,SR Watson,6,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,194,3,19,2,116,4
76434,817,208,Sunrisers Hyderabad,19.3,BCJ Cutting,SR Watson,6,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,200,3,19,3,117,3
76435,817,208,Sunrisers Hyderabad,19.4,BCJ Cutting,SR Watson,1,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,201,3,19,4,118,2
76436,817,208,Sunrisers Hyderabad,19.5,B Kumar,SR Watson,1,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,202,3,19,5,119,1
76437,817,208,Sunrisers Hyderabad,19.6,BCJ Cutting,SR Watson,6,Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,208,3,19,6,120,0

In [119]:
final_df['crr'] = (final_df['current_score']*6)/final_df['balls_bowled']

In [120]:
groups = final_df.groupby('match_id')
match_ids = final_df['match_id'].unique()
last_five = []
for i in match_ids:
    last_five.extend(groups.get_group(i).rolling(30).sum()['runs_y'].values.tolist())

In [121]:
final_df['last_five'] = last_five

In [122]:
final_df.head(2)

,match_id,runs_x,batting_team,ball,batsman,bowler,runs_y,city,winner,bowling_team,current_score,wickets_left,over,ball_no,balls_bowled,balls_left,crr,last_five
0,2,207,Sunrisers Hyderabad,0.1,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,1,1,119,0.0,NaN
1,2,207,Sunrisers Hyderabad,0.2,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,2,2,118,0.0,NaN

In [125]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [127]:
final_df['result']=final_df.apply(result,axis=1)

In [129]:
final_df['result'].value_counts()

0    42561
1    33877
Name: result, dtype: int64

In [131]:
final_df.groupby('match_id').cumsum()['runs_y']

0          0
1          0
2          4
3          4
4          6
        ...
76433    194
76434    200
76435    201
76436    202
76437    208
Name: runs_y, Length: 76438, dtype: int64

In [137]:
final_df['rrr']=final_df['current_score']/final_df['ball']

In [140]:
final_df.head(200)

,match_id,runs_x,batting_team,ball,batsman,bowler,runs_y,city,winner,bowling_team,current_score,wickets_left,over,ball_no,balls_bowled,balls_left,crr,last_five,result,rrr
0,2,207,Sunrisers Hyderabad,0.1,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,1,1,119,0.000000,NaN,1,0.000000
1,2,207,Sunrisers Hyderabad,0.2,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,0,10,0,2,2,118,0.000000,NaN,1,0.000000
2,2,207,Sunrisers Hyderabad,0.3,DA Warner,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,3,3,117,8.000000,NaN,1,13.333333
3,2,207,Sunrisers Hyderabad,0.4,DA Warner,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,4,10,0,4,4,116,6.000000,NaN,1,10.000000
4,2,207,Sunrisers Hyderabad,0.5,DA Warner,TS Mills,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,5,5,115,7.200000,NaN,1,12.000000
5,2,207,Sunrisers Hyderabad,0.6,S Dhawan,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,6,10,0,6,6,114,6.000000,NaN,1,10.000000
6,2,207,Sunrisers Hyderabad,0.7,S Dhawan,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,7,10,0,7,7,113,6.000000,NaN,1,10.000000
7,2,207,Sunrisers Hyderabad,1.1,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,8,10,1,1,7,113,6.857143,NaN,1,7.272727
8,2,207,Sunrisers Hyderabad,1.2,DA Warner,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,12,10,1,2,8,112,9.000000,NaN,1,10.000000
9,2,207,Sunrisers Hyderabad,1.3,DA Warner,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,13,10,1,3,9,111,8.666667,NaN,1,10.000000
10,2,207,Sunrisers Hyderabad,1.4,DA Warner,A Choudhary,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,10,1,4,10,110,11.400000,NaN,1,13.571429
11,2,207,Sunrisers Hyderabad,1.5,DA Warner,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9,1,5,11,109,10.363636,NaN,1,12.666667
12,2,207,Sunrisers Hyderabad,1.6,MC Henriques,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,19,9,1,6,12,108,9.500000,NaN,1,11.875000
13,2,207,Sunrisers Hyderabad,1.7,MC Henriques,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,23,9,1,7,13,107,10.615385,NaN,1,13.529412
14,2,207,Sunrisers Hyderabad,2.1,S Dhawan,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,1,13,107,11.076923,NaN,1,11.428571
15,2,207,Sunrisers Hyderabad,2.2,MC Henriques,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,2,14,106,10.285714,NaN,1,10.909091
16,2,207,Sunrisers Hyderabad,2.3,MC Henriques,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,24,9,2,3,15,105,9.600000,NaN,1,10.434783
17,2,207,Sunrisers Hyderabad,2.4,MC Henriques,TS Mills,3,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,27,9,2,4,16,104,10.125000,NaN,1,11.250000
18,2,207,Sunrisers Hyderabad,2.5,S Dhawan,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,28,9,2,5,17,103,9.882353,NaN,1,11.200000
19,2,207,Sunrisers Hyderabad,2.6,MC Henriques,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9,2,6,18,102,9.666667,NaN,1,11.153846
20,2,207,Sunrisers Hyderabad,3.1,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,29,9,3,1,19,101,9.157895,NaN,1,9.354839
21,2,207,Sunrisers Hyderabad,3.2,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9,3,2,20,100,9.000000,NaN,1,9.375000
22,2,207,Sunrisers Hyderabad,3.3,S Dhawan,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,30,9,3,3,21,99,8.571429,NaN,1,9.090909
23,2,207,Sunrisers Hyderabad,3.4,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,31,9,3,4,22,98,8.454545,NaN,1,9.117647
24,2,207,Sunrisers Hyderabad,3.5,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,32,9,3,5,23,97,8.347826,NaN,1,9.142857
25,2,207,Sunrisers Hyderabad,3.6,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,33,9,3,6,24,96,8.250000,NaN,1,9.166667
26,2,207,Sunrisers Hyderabad,4.1,S Dhawan,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,34,9,4,1,25,95,8.160000,NaN,1,8.292683
27,2,207,Sunrisers Hyderabad,4.2,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,35,9,4,2,26,94,8.076923,NaN,1,8.333333
28,2,207,Sunrisers Hyderabad,4.3,S Dhawan,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,36,9,4,3,27,93,8.000000,NaN,1,8.372093
29,2,207,Sunrisers Hyderabad,4.4,MC Henriques,S Aravind,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,38,9,4,4,28,92,8.142857,38.0,1,8.636364
30,2,207,Sunrisers Hyderabad,4.5,MC Henriques,S Aravind,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42,9,4,5,29,91,8.689655,42.0,1,9.333333
31,2,207,Sunrisers Hyderabad,4.6,MC Henriques,S Aravind,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,42,9,4,6,30,90,8.400000,42.0,1,9.130435
32,2,207,Sunrisers Hyderabad,5.1,S Dhawan,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,46,9,5,1,31,89,8.903226,42.0,1,9.019608
33,2,207,Sunrisers Hyderabad,5.2,S Dhawan,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50,9,5,2,32,88,9.375000,46.0,1,9.615385
34,2,207,Sunrisers Hyderabad,5.3,S Dhawan,SR Watson,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,50,9,5,3,33,87,9.090909,44.0,1,9.433962
35,2,207,Sunrisers Hyderabad,5.4,S Dhawan,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,54,9,5,4,34,86,9.529412,48.0,1,10.000000
36,2,207,Sunrisers Hyderabad,5.5,S Dhawan,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,58,9,5,5,35,85,9.942857,51.0,1,10.545455
37,2,207,Sunrisers Hyderabad,5.6,S Dhawan,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,59,9,5,6,36,84,9.833333,51.0,1,10.535714
38,2,207,Sunrisers Hyderabad,6.1,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60,9,6,1,37,83,9.729730,48.0,1,9.836066
39,2,207,Sunrisers Hyderabad,6.2,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,60,9,6,2,38,82,9.473684,47.0,1,9.677419
40,2,207,Sunrisers Hyderabad,6.3,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,61,9,6,3,39,81,9.384615,42.0,1,9.682540
41,2,207,Sunrisers Hyderabad,6.4,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,62,9,6,4,40,80,9.300000,43.0,1,9.687500
42,2,207,Sunrisers Hyderabad,6.5,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,63,9,6,5,41,79,9.219512,44.0,1,9.692308
43,2,207,Sunrisers Hyderabad,6.6,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,64,9,6,6,42,78,9.142857,41.0,1,9.696970
44,2,207,Sunrisers Hyderabad,7.1,S Dhawan,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,65,9,7,1,43,77,9.069767,41.0,1,9.154930
45,2,207,Sunrisers Hyderabad,7.2,MC Henriques,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,66,9,7,2,44,76,9.000000,42.0,1,9.166667
46,2,207,Sunrisers Hyderabad,7.3,S Dhawan,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,67,9,7,3,45,75,8.933333,43.0,1,9.178082
47,2,207,Sunrisers Hyderabad,7.4,MC Henriques,TM Head,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,73,9,7,4,46,74,9.521739,46.0,1,9.864865
48,2,207,Sunrisers Hyderabad,7.5,MC Henriques,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,74,9,7,5,47,73,9.446809,46.0,1,9.866667
49,2,207,Sunrisers Hyderabad,7.6,S Dhawan,TM Head,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,75,9,7,6,48,72,9.375000,46.0,1,9.868421
50,2,207,Sunrisers Hyderabad,8.1,S Dhawan,YS Chahal,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,77,9,8,1,49,71,9.428571,48.0,1,9.506173
51,2,207,Sunrisers Hyderabad,8.2,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,78,9,8,2,50,70,9.360000,48.0,1,9.512195
52,2,207,Sunrisers Hyderabad,8.3,MC Henriques,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,79,9,8,3,51,69,9.294118,49.0,1,9.518072
53,2,207,Sunrisers Hyderabad,8.4,S Dhawan,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,80,9,8,4,52,68,9.230769,49.0,1,9.523810
54,2,207,Sunrisers Hyderabad,8.5,MC Henriques,YS Chahal,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,82,9,8,5,53,67,9.283019,50.0,1,9.647059
55,2,207,Sunrisers Hyderabad,8.6,MC Henriques,YS Chahal,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,84,9,8,6,54,66,9.333333,51.0,1,9.767442
56,2,207,Sunrisers Hyderabad,9.1,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,84,9,9,1,55,65,9.163636,50.0,1,9.230769
57,2,207,Sunrisers Hyderabad,9.2,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,85,9,9,2,56,64,9.107143,50.0,1,9.239130
58,2,207,Sunrisers Hyderabad,9.3,MC Henriques,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,86,9,9,3,57,63,9.052632,50.0,1,9.247312
59,2,207,Sunrisers Hyderabad,9.4,S Dhawan,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,87,9,9,4,58,62,9.000000,49.0,1,9.255319
60,2,207,Sunrisers Hyderabad,9.5,MC Henriques,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,88,9,9,5,59,61,8.949153,46.0,1,9.263158
61,2,207,Sunrisers Hyderabad,9.6,S Dhawan,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,88,9,9,6,60,60,8.800000,46.0,1,9.166667
62,2,207,Sunrisers Hyderabad,10.1,MC Henriques,STR Binny,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,89,9,10,1,61,59,8.754098,43.0,1,8.811881
63,2,207,Sunrisers Hyderabad,10.2,S Dhawan,STR Binny,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,93,9,10,2,62,58,9.000000,43.0,1,9.117647
64,2,207,Sunrisers Hyderabad,10.3,S Dhawan,STR Binny,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,93,8,10,3,63,57,8.857143,43.0,1,9.029126
65,2,207,Sunrisers Hyderabad,10.4,MC Henriques,STR Binny,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,94,8,10,4,64,56,8.812500,40.0,1,9.038462
66,2,207,Sunrisers Hyderabad,10.5,Yuvraj Singh,STR Binny,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,96,8,10,5,65,55,8.861538,38.0,1,9.142857
67,2,207,Sunrisers Hyderabad,10.6,Yuvraj Singh,STR Binny,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,98,8,10,6,66,54,8.909091,39.0,1,9.245283
68,2,207,Sunrisers Hyderabad,11.1,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,99,8,11,1,67,53,8.865672,39.0,1,8.918919
69,2,207,Sunrisers Hyderabad,11.2,Yuvraj Singh,S Aravind,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,99,8,11,2,68,52,8.735294,39.0,1,8.839286
70,2,207,Sunrisers Hyderabad,11.3,Yuvraj Singh,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,100,8,11,3,69,51,8.695652,39.0,1,8.849558
71,2,207,Sunrisers Hyderabad,11.4,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,101,8,11,4,70,50,8.657143,39.0,1,8.859649
72,2,207,Sunrisers Hyderabad,11.5,Yuvraj Singh,S Aravind,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,105,8,11,5,71,49,8.873239,42.0,1,9.130435
73,2,207,Sunrisers Hyderabad,11.6,Yuvraj Singh,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,106,8,11,6,72,48,8.833333,42.0,1,9.137931
74,2,207,Sunrisers Hyderabad,12.1,Yuvraj Singh,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,110,8,12,1,73,47,9.041096,45.0,1,9.090909
75,2,207,Sunrisers Hyderabad,12.2,Yuvraj Singh,A Choudhary,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,116,8,12,2,74,46,9.405405,50.0,1,9.508197
76,2,207,Sunrisers Hyderabad,12.3,Yuvraj Singh,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,120,8,12,3,75,45,9.600000,53.0,1,9.756098
77,2,207,Sunrisers Hyderabad,12.4,Yuvraj Singh,A Choudhary,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,120,8,12,4,76,44,9.473684,47.0,1,9.677419
78,2,207,Sunrisers Hyderabad,12.5,Yuvraj Singh,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,121,8,12,5,77,43,9.428571,47.0,1,9.680000
79,2,207,Sunrisers Hyderabad,12.6,Yuvraj Singh,A Choudhary,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,123,8,12,6,78,42,9.461538,48.0,1,9.761905
80,2,207,Sunrisers Hyderabad,12.7,Yuvraj Singh,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,124,8,12,7,79,41,9.417722,47.0,1,9.763780
81,2,207,Sunrisers Hyderabad,13.1,Yuvraj Singh,SR Watson,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,128,8,13,1,79,41,9.721519,50.0,1,9.770992
82,2,207,Sunrisers Hyderabad,13.2,Yuvraj Singh,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,129,8,13,2,80,40,9.675000,50.0,1,9.772727
83,2,207,Sunrisers Hyderabad,13.3,MC Henriques,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,130,8,13,3,81,39,9.629630,50.0,1,9.774436
84,2,207,Sunrisers Hyderabad,13.4,Yuvraj Singh,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,131,8,13,4,82,38,9.585366,49.0,1,9.776119
85,2,207,Sunrisers Hyderabad,13.5,MC Henriques,SR Watson,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,131,8,13,5,83,37,9.469880,47.0,1,9.703704
86,2,207,Sunrisers Hyderabad,13.6,MC Henriques,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,132,8,13,6,84,36,9.428571,48.0,1,9.705882
87,2,207,Sunrisers Hyderabad,14.1,MC Henriques,S Aravind,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,136,8,14,1,85,35,9.600000,51.0,1,9.645390
88,2,207,Sunrisers Hyderabad,14.2,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,137,8,14,2,86,34,9.558140,51.0,1,9.647887
89,2,207,Sunrisers Hyderabad,14.3,Yuvraj Singh,S Aravind,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,143,8,14,3,87,33,9.862069,56.0,1,10.000000
90,2,207,Sunrisers Hyderabad,14.4,Yuvraj Singh,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,144,8,14,4,88,32,9.818182,56.0,1,10.000000
91,2,207,Sunrisers Hyderabad,14.5,MC Henriques,S Aravind,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,150,8,14,5,89,31,10.112360,62.0,1,10.344828
92,2,207,Sunrisers Hyderabad,14.6,MC Henriques,S Aravind,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,151,8,14,6,90,30,10.066667,62.0,1,10.342466
93,2,207,Sunrisers Hyderabad,15.1,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,151,8,15,1,91,29,9.956044,58.0,1,10.000000
94,2,207,Sunrisers Hyderabad,15.2,MC Henriques,YS Chahal,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,151,7,15,2,92,28,9.847826,58.0,1,9.934211
95,2,207,Sunrisers Hyderabad,15.3,Yuvraj Singh,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,152,7,15,3,93,27,9.806452,58.0,1,9.934641
96,2,207,Sunrisers Hyderabad,15.4,DJ Hooda,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,153,7,15,4,94,26,9.765957,57.0,1,9.935065
97,2,207,Sunrisers Hyderabad,15.5,Yuvraj Singh,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,154,7,15,5,95,25,9.726316,56.0,1,9.935484
98,2,207,Sunrisers Hyderabad,15.6,DJ Hooda,YS Chahal,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,155,7,15,6,96,24,9.687500,56.0,1,9.935897
99,2,207,Sunrisers Hyderabad,16.1,DJ Hooda,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,156,7,16,1,97,23,9.649485,57.0,1,9.689441
100,2,207,Sunrisers Hyderabad,16.2,Yuvraj Singh,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,156,7,16,2,98,22,9.551020,56.0,1,9.629630
101,2,207,Sunrisers Hyderabad,16.3,Yuvraj Singh,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,160,7,16,3,99,21,9.696970,59.0,1,9.815951
102,2,207,Sunrisers Hyderabad,16.4,Yuvraj Singh,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,161,7,16,4,100,20,9.660000,56.0,1,9.817073
103,2,207,Sunrisers Hyderabad,16.5,DJ Hooda,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,161,7,16,5,101,19,9.564356,55.0,1,9.757576
104,2,207,Sunrisers Hyderabad,16.6,DJ Hooda,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,162,7,16,6,102,18,9.529412,52.0,1,9.759036
105,2,207,Sunrisers Hyderabad,17.1,DJ Hooda,A Choudhary,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,168,7,17,1,103,17,9.786408,52.0,1,9.824561
106,2,207,Sunrisers Hyderabad,17.2,DJ Hooda,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,169,7,17,2,104,16,9.750000,49.0,1,9.825581
107,2,207,Sunrisers Hyderabad,17.3,Yuvraj Singh,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,170,7,17,3,105,15,9.714286,50.0,1,9.826590
108,2,207,Sunrisers Hyderabad,17.4,Yuvraj Singh,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,171,7,17,4,106,14,9.679245,50.0,1,9.827586
109,2,207,Sunrisers Hyderabad,17.5,Yuvraj Singh,A Choudhary,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,175,7,17,5,107,13,9.813084,52.0,1,10.000000
110,2,207,Sunrisers Hyderabad,17.6,Yuvraj Singh,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,176,7,17,6,108,12,9.777778,52.0,1,10.000000
111,2,207,Sunrisers Hyderabad,17.7,DJ Hooda,A Choudhary,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,178,7,17,7,109,11,9.798165,50.0,1,10.056497
112,2,207,Sunrisers Hyderabad,17.8,DJ Hooda,A Choudhary,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,179,7,17,8,110,10,9.763636,50.0,1,10.056180
113,2,207,Sunrisers Hyderabad,18.1,DJ Hooda,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,180,7,18,1,109,11,9.908257,50.0,1,9.944751
114,2,207,Sunrisers Hyderabad,18.2,Yuvraj Singh,TS Mills,4,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,184,7,18,2,110,10,10.036364,53.0,1,10.109890
115,2,207,Sunrisers Hyderabad,18.3,Yuvraj Singh,TS Mills,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,190,7,18,3,111,9,10.270270,59.0,1,10.382514
116,2,207,Sunrisers Hyderabad,18.4,Yuvraj Singh,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,190,6,18,4,112,8,10.178571,58.0,1,10.326087
117,2,207,Sunrisers Hyderabad,18.5,BCJ Cutting,TS Mills,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,191,6,18,5,113,7,10.141593,55.0,1,10.324324
118,2,207,Sunrisers Hyderabad,18.6,DJ Hooda,TS Mills,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,191,6,18,6,114,6,10.052632,54.0,1,10.268817
119,2,207,Sunrisers Hyderabad,19.1,BCJ Cutting,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,192,6,19,1,115,5,10.017391,49.0,1,10.052356
120,2,207,Sunrisers Hyderabad,19.2,DJ Hooda,SR Watson,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,193,6,19,2,116,4,9.982759,49.0,1,10.052083
121,2,207,Sunrisers Hyderabad,19.3,BCJ Cutting,SR Watson,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,199,6,19,3,117,3,10.205128,49.0,1,10.310881
122,2,207,Sunrisers Hyderabad,19.4,BCJ Cutting,SR Watson,2,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,201,6,19,4,118,2,10.220339,50.0,1,10.360825
123,2,207,Sunrisers Hyderabad,19.5,BCJ Cutting,SR Watson,0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,201,6,19,5,119,1,10.134454,50.0,1,10.307692
124,2,207,Sunrisers Hyderabad,19.6,BCJ Cutting,SR Watson,6,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,207,6,19,6,120,0,10.350000,56.0,1,10.561224
125,6,157,Royal Challengers Bangalore,0.1,CH Gayle,Z Khan,1,Bengaluru,Royal Challengers Bangalore,Delhi Daredevils,1,10,0,1,1,119,6.000000,NaN,1,10.000000

In [141]:
final_df = final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x','rrr','result']]

In [142]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
city                 0
current_score        0
balls_left           0
wickets_left         0
crr                  0
last_five        18038
runs_x               0
rrr                  0
result               0
dtype: int64

In [143]:
final_df.dropna(inplace=True)

<ipython-input-143-3665e38311c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [144]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
rrr              0
result           0
dtype: int64

In [206]:
final_df = final_df.sample(final_df.shape[0])

In [207]:
categorical_cols =['batting_team','bowling_team','city']
encoded_dataframe = pd.get_dummies(final_df[categorical_cols],drop_first=True)
data_other_cols = final_df.drop(columns=categorical_cols)
data_out = pd.concat([data_other_cols,encoded_dataframe],axis=1)

In [148]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler().fit(data_out)
    
# transform the training data column
#X_train = scale.transform(X_train)
#y_train = scale.transform(y_train)
    
# transform the testing data column
#X_test = scale.transform(X_test)
scaled = scale.transform(data_out)

In [149]:
modelling_df = pd.DataFrame(scaled,columns=data_out.columns)

In [208]:
X = modelling_df.drop(columns='runs_x')
y=modelling_df['runs_x']

In [209]:
from sklearn.model_selection import train_test_split

In [210]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [211]:
print('X_train',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train (39128, 7)
X_test (19272, 7)
y_train (39128,)
y_test (19272,)

# Liner Regression

In [212]:
#!pip install xgboost

In [176]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error

In [177]:
# Model initialization
regression_model = LinearRegression()
# Fit the data(train the model)
regression_model.fit(X_train, y_train)
# Predict
y_predicted = regression_model.predict(X_test)

# model evaluation
#rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
#print('Slope:' ,regression_model.coef_)
#print('Intercept:', regression_model.intercept_)
print('Root mean squared error: ', np.sqrt(mean_squared_error(y_test, y_predicted)))
print('Mean absolute error: ', mean_absolute_error(y_test, y_predicted))
print('R2 score: ', r2)

Root mean squared error:  17.03754037558138
Mean absolute error:  12.717947569112301
R2 score:  0.6734676105081717

In [178]:
slr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_predicted})
slr_diff.head()

       Actual value  Predicted value
2524            185       175.386102
3830            107       123.677739
8779            187       134.160478
45742           157       154.801394
39527           154       150.874146

# Logistic Regression

In [213]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder

In [214]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),
                         ['batting_team','bowling_team','city'])
]
    ,remainder='passthrough')

In [215]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [216]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [217]:
y_pred = pipe.predict(X_test)

In [218]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.5318596928185969

# XGB Regressor

In [65]:
xgb_r = XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=101)
  
# Fitting the model
xgb_r.fit(X_train, y_train)
  
# Predict the model
pred1 = xgb_r.predict(X_test)

r2 = r2_score(y_test, pred1)
# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, pred1))
print('Root mean squared error: ', rmse)
print('Mean absolute error: ', mean_absolute_error(y_test,pred1))
print('R2 score: ', r2)

Root mean squared error:  0.18766000312588307
Mean absolute error:  0.09600994488313656
R2 score:  0.9647767869516919

In [66]:
slr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': pred1})
slr_diff.head()

       Actual value  Predicted value
20755     -0.011936         0.119867
43960      1.827491         0.124736
56        -0.814596        -0.759728
32998      2.262265         2.296695
11570     -0.613931        -0.597848

# Random Forest Regressor

In [67]:
from sklearn.ensemble import RandomForestRegressor

In [68]:
# create regressor object
regressor = RandomForestRegressor(random_state = 42)
  
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [69]:
pred = regressor.predict(X_test)
r2 = r2_score(y_test, pred)
rmse = np.sqrt(mean_squared_error(y_test, pred))
print('Root mean squared error: ', rmse)
print('Mean absolute error: ', mean_absolute_error(y_test,pred))
print('R2 score: ', r2)

Root mean squared error:  0.22505924249782197
Mean absolute error:  0.11997831574099196
R2 score:  0.9493383609037563

In [70]:
slr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': pred})
slr_diff.head()

       Actual value  Predicted value
20755     -0.011936         0.086724
43960      1.827491         0.607449
56        -0.814596        -0.923958
32998      2.262265         2.262265
11570     -0.613931        -0.555403

In [71]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Pipeline

In [72]:
X = final_df.drop(columns='runs_x')
y=final_df['runs_x']

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [74]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),
                         ['batting_team','bowling_team','city'])
]
    ,remainder='passthrough')

In [75]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=101))
])

In [76]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.969061907566834
2.747728203084272

In [77]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [78]:
final_df['city'].unique()

array(['Dubai', 'Sharjah', 'Mumbai', 'Chandigarh', 'Jaipur', 'Abu Dhabi',
       'Bengaluru', 'Port Elizabeth', 'Ranchi', 'Bangalore', 'Kolkata',
       'Centurion', 'Chennai', 'Ahmedabad', 'Cuttack', 'Dharamsala',
       'Delhi', 'Indore', 'Kimberley', 'East London', 'Hyderabad',
       'Cape Town', 'Pune', 'Johannesburg', 'Durban', 'Raipur',
       'Bloemfontein', 'Visakhapatnam'], dtype=object)

In [79]:
import xgboost
xgboost.__version__

'1.5.0'